Options All -Indexes

DirectoryIndex index.php

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^dev.rybel-llc.com$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteCond %{HTTP_HOST} ^dev.rybel-llc.com$
RewriteCond %{REQUEST_URI} !=/server-status
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /michael/public/$1 [L]